//Common header
.header {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
  height: 620px;
  max-width: 1800px;
  margin: 0 auto;
  background: url("../img/water_map/water.jpg") center center no-repeat;
  background-size: cover;

  &:before,&:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    z-index: 0;
  }

  &:before {
    left: 0;
    border-width: 9vw 0 0 53vw;
    border-color: transparent transparent transparent $lightwhite;
  }

  &:after {
    right: 0;
    border-width: 0 0 9vw 53vw;
    border-color: transparent transparent $lightwhite transparent;
  }
}

//Aboutme triangles
.header--difcolors .header{
  &:before {
    border-color: transparent transparent transparent $portfoliolight;
  }
  &:after {
    border-color: transparent transparent $portabouthead transparent;
  }
}

//Blog triangles
.header--blog .header{
  &:before {
    border-color: transparent transparent transparent $blogback;
  }
  &:after {
    border-color: transparent transparent $blogback transparent;
  }
}


//Musthead menu
.header__musthead {
  padding-top: 25px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.56) 0%,rgba(0,0,0,0) 100%);

  &--flex {
    display: flex;
    align-items: flex-start;
  }
}

.svg__hamburger {
  width: 40px;
  height:40px;
  margin-right: 20px;
  fill: $white;
}

//Header Body

.header__body {
  position: relative;
  margin-bottom: auto;
}

.svg__portfolio_header {
  position: absolute;
  width: 100%;
  height: 320px;

  fill: $portfolioheader;
}
