.header-login {
  position: relative;
  flex: 1 auto;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  background: linear-gradient(to bottom, rgba(0,0,0,0.56) 0%,rgba(0,0,0,0) 100%);

  @include bp(sm) {
    justify-content: center;
  }
}

.header__login-wrapper {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.header__btn.header--login {
  width: 175px;
  height: 45px;
  margin-right: 90px;

  display: inline-block;
  text-decoration: none;
  border: 1px $white solid;
  border-radius: 20px;
  padding-top: 10px;

  font-family: 'robotomedium', Aria, san-serif;
  text-align: center;
  color: $white;

  &:hover {
    border-color: $btnheader;
    background-color: $btn;
  }

  @include bp(sm) {
    margin: 0;
  }
}

