//Common header
.header__main {
  position: relative;
  background: url("../img/header/1200_forest_about.png") center center no-repeat;
  height: 790px;
  min-width: 1200px;
}

.musthead {
  position: relative;
  padding-top: 30px;
  padding-bottom: 65px;

  background:  url(../img/header/headershadow.png) no-repeat center;

  &__flex {
    display: flex;
    align-items: flex-start;
  }
}

.svg__hamburger {
  margin-left: auto;
  margin-right: 7px;
  width: 40px;
  height:40px;
  fill: $white;
}

//Header Arrow Down
.arrow__down  {
  position: absolute;
  top: 95px;
  left: 25px;

  & svg {
    fill: $white;
  }
}

//Header Body
.header__body {
  margin-bottom: 40px;
}

.svg__portfolio_header {
  position: absolute;
  width: 1140px;
  height: 320px;

  fill: $portfolioheader;
}

.svg__portf_arrow_down,.svg__portf_arrow_up {
  width: 30px;
  height:30px;

  fill: $white;
}

//Header footer section with several SVGs in a row

.header__footer {
  position: relative;
  height: 300px;
}

.right-angle-arrow.right{
  position: absolute;
  top: 45px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 150px solid $lightwhite;
  border-right: 900px solid transparent;
}

.left-angle-arrow.left {
  position: absolute;
  top: 45px;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 150px solid $lightwhite;
  border-left: 900px solid transparent;
}

//Portfolio body Section
.portfolio__main {
  height: 750px;
}

.portfolio__names {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 -20px;
  height: 750px;

  text-align: center;;
  background-color: $portfoliolight;

  &-title {
    color: $darkgrey;
    margin-bottom: 20px;

    &:after {
        content:"";
        border-bottom:3px solid black;
        width:20%;
        display:block;
        padding-top: 25px;
        margin:0 auto;
      }
    }

  &-skills {
    margin-bottom: 40px;
    font-family: "robotomedium", Arial, san-serif;
    color: $btn;
  }

  &-button {
    display: inline-block;
    width: 200px;
    height:45px;
    padding: 10px;
    background-color: $btn;
    border-radius: 25px;
    color: $white;
    text-decoration: none;

    &:before {
      background: url("../img/sprite/link.svg") no-repeat scroll center center;
      content: "";
      display: inline-block;
      fill: $white;
      width: 30px;
      height: 30px;
      position: relative;
      top: -2px;
      left: -15px;
      vertical-align: middle;
    }
  }
}

//Portfolio Work Examples section
.portfolio__works {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
  height: 750px;
  background-color: $greenworks;
}
.portfolio__preview {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 450px;
    height: 320px;
  }
}

.portfolio__list {
  height: 225px;
  display: flex;
}

.portfolio__item {
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
    height: 90%;
  }

  &--left:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 30%;
    background-color: $portleft;
  }

  &--right:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 30%;
    background-color: $portright;
  }
}

.portfolio__arrow {
  position: absolute;

  & .svg__portf_arrow_up,.svg__portf_arrow_down  {
    width: 4.5rem;
    height: 3.5rem;
  }
}




//Portfolio about me section

.portfolio__aboutme {
  position: relative;
  background: url("../img/1200_forest_works.png") no-repeat bottom;
}