/* ====================================
The main header for most pages
==================================== */

.header {
  background: url("../img/water_map/water.jpg") center center no-repeat;
  background-size: cover;
  position: relative;


  &:before,&:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    z-index: 0;
  }

  &:before {
    left: 0;
    border-width: 9vw 0 0 53vw;
    border-color: transparent transparent transparent $lightwhite;
  }

  &:after {
    right: 0;
    border-width: 0 0 9vw 53vw;
    border-color: transparent transparent $lightwhite transparent;
  }
}

.header__shadow {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.56) 0%,rgba(0,0,0,0) 100%);
}

.header__wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
  max-width: 1800px;
  margin: 0 auto;

  &--general {
    height: 620px;
  }

  &--blog {
  }
}

/* ====================================
About me Page triangles
==================================== */
.header--difcolors .header {
  &:before {
    border-width: 9vw 2vw 0 50vw;
    border-color: transparent transparent transparent $portfoliolight;
  }
  &:after {
    border-width: 0 0 9vw 50vw;
    border-color: transparent transparent $portabouthead transparent;

    @include bp(47.8rem) {
      border-color: transparent transparent $portfoliolight transparent;
    }
  }
}

/* ====================================
Blog triangles with different colors
==================================== */
  .header--blog .header {
    &:before {
      border-color: transparent transparent transparent $blogback;
    }
    &:after {
      border-color: transparent transparent $blogback transparent;
    }
  }

/* ====================================
Musthead wrapper for the menu and buttons inside
==================================== */
  .header__musthead {
    padding-top: 25px;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    z-index: 10000;
  }



//Hamburger triline
.hamburger__lines {
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  height: 5px;
  width: 100%;
  background: white;
  transition: background 0.1s 0s;
}

.hamburger__lines:before,
.hamburger__lines:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}

.hamburger__lines:before {
  top: -14px;
  transition: top 0.3s 0.3s, transform 0.3s 0s;
}

.hamburger__lines:after {
  bottom: -14px;
  transition: bottom 0.3s 0.3s, transform 0.3s 0s;
}

//Hamburger cross animation
.hamburger--cross {
  & .hamburger__lines {
    background: none;
    transition: background 0.1s 0.2s;
  }

  & .hamburger__lines:before {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.25s 0s, transform 0.3s 0.25s;
  }

  & .hamburger__lines:after {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.25s 0s, transform 0.3s 0.25s;
  }
}


/* ====================================
The body of the Header
==================================== */

  .header__body {
    position: relative;
    margin-bottom: auto;
  }

  .svg__portfolio_header {
    position: absolute;
    width: 100%;
    height: 320px;

    fill: $portfolioheader;
  }
