.header__btn.header--login {
  float: right;

  width: 175px;
  height: 45px;
  margin-right: 22px;

  display: inline-block;
  text-decoration: none;
  border: 1px $white solid;
  border-radius: 20px;
  padding-top: 10px;

  font-family: 'robotomedium', Aria, san-serif;
  text-align: center;
  color: $white;

  &:hover {
    border-color: $btnheader;
    background-color: $btn;
  }
}