//Checkbox module for the Form--Login

.form__robot-checkbox {
  position: relative;
  margin-bottom: 10px;
}

.svg__check {
  position: absolute;
  top: 9px;
  left: 5px;

  width: 10px;
  height: 10px;

  fill: $white;
  display: none;
}

.checkbox__input {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;

  &:checked ~ .checkbox__label .svg__check {
    display: inline;
  }
}

.checkbox__label:before {
  background-color: $btn;
}
