//Summary of all form styles

.auth__section {
  padding-top: 35px;
  padding-bottom: 55px;
  position: relative;
}

.forms {
  width: 380px;

  background-color: $darlform;
  text-align: center;
  color: $white;

  @extend %clearfix;
}

.form__body {
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}

//Login
@import "form__auth";
@import "form__checkbox";
@import "form__footer";
@import "form__radio";
@import "form__textarea";