.form__textarea {
   padding: 15px;
   font-family: 'robotoregular', Arial, san-serif;
   resize: none;
   height: 140px;
   border-radius: 25px;
   border: 2px $inputbackground solid;
   transition: border ease-out .3s, color ease-out .3s;

   &:focus {
      border: 2px $btn solid;
      outline: none;
   }
 }