//Radio module for the Form--Login

.form__robot-radio {
  margin-bottom: 35px;
}

.form__robot-title {
  font-family: 'robotobold', Arial, san-serif;
  margin: 10px;
}

.radio {

  &__label{
    padding-right: 20px;
    margin-left: 10px;

    &:before {
      border-radius: 10px;
    }
  }

  &__input {
    display: none;

    &:checked + .radio__label:before {
      content: '\2022';
      color: $btn;
      font-size: 35px;
      display: inline;
      text-align: center;
      line-height: 20px;
    }

    &:checked + .radio__label {
      color: $btn;
      font-family: 'robotomedium', Arial, san-serif;
    }
  }
}

//General Radio and Checkbox styles
.control {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;

    width: 20px;
    height: 20px;

    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: $white;
  }
}