//Authorization module Form--Login

.form__auth {
  margin-bottom: 20px;

  &-row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 25px;

    &--title {
      margin-bottom: 30px;
    }

    &--title:after {
      content: "";
      display: block;
      width: 90px;
      margin: 0 auto;

      border: 1px $white solid;
    }
  }
}

.form {
  &__input {
    padding: 5px 20px 5px 60px;
    height: 45px;
    width: 100%;

    border-radius: 25px;
    border: none;

    color: $fontgrey;

    &:focus {
      border: 2px $btn solid;
      outline: none;
    }

    &--nosvg {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


.form__label {
  position: absolute;
  left: 0;
  top: 0;

  width: 45px;
  height: 45px;

  background-color: $inputbackground;
}

.svg {

  &__log_in, &__pass {
    position: absolute;
    top: 27%;
    right: 20%;
    width: 20px;
    height: 20px;

    fill: $fontgrey;
  }
}

