//Footer module for the Form--Login

.form {
  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 45px;

    //Common form button styles
    &-btn {
      flex: 1;
      display: block;
      height: 100%;

      color: $white;
      font-family: 'robotomedium', Aria, san-serif;
      line-height: 45px;
      background-color: $btnrgba;

      &:hover, &:active {
        background-color: $btnhover;
      }

      &--link {
        text-align: center;
        text-decoration: none;
        line-height: 45px;

        &:focus {
          outline: $btn;
        }
      }

      //Submit buttons for the forms
      &--submit {
        border: none;
        cursor: pointer;

        &:focus {
          outline: 1px solid $btn;
        }
      }

      //Button order styles - max 3 in a row
      &--middle {
        flex: 3 auto;
      }

      &--big {
        flex: 5 auto;
      }

      &--small {
        flex: 2 auto;
      }
    }
  }
}

.form__footer-btn {
  border-left: 1px $fontgrey solid;;
  border-right: 1px $fontgrey solid;;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}