//Footer module for the Form--Login

.form {
  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 45px;

    &-btn {
      display: block;
      height: 100%;

      color: $white;
      font-family: 'robotomedium', Aria, san-serif;
      line-height: 45px;
      background-color: $btnrgba;

      &:hover, &:active {
        background-color: $btnhover;
      }

      &--link {
        text-align: center;
        text-decoration: none;
        line-height: 45px;
      }

      &--submit {
        border: none;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      &--left {
        border-right: 1px $fontgrey solid;
      }

      &--right {
        border-left: 1px $fontgrey solid;
      }

      &--middle {
        border-left: 1px $fontgrey solid;
        border-right: 1px $fontgrey solid;
        flex: 3 auto;
      }

      &--big {
        flex: 5 auto;
      }

      &--small {
        flex: 2 auto;
      }
    }
  }
}