/* ------- Login Form ------- */

@import "./_form__auth";

.control {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;

    width: 20px;
    height: 20px;

    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: $white;
  }
}

@import "./_form__checkbox";
@import "./_form__radio";
@import "./_form__footer";


