//Summary of all form styles

.auth__section {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 35px;
  padding-bottom: 55px;
}

.forms {
  width: 380px;

  background-color: $darlform;
  text-align: center;
  color: $white;

  @include bp(405px) {
    width: 300px;
  }
}

.form__body {
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}


//General Radio and Checkbox styles
.control {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;

    width: 20px;
    height: 20px;

    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: $white;
  }
}

//Login
@import "form__auth";
@import "form__checkbox";
@import "form__footer";
@import "form__radio";
@import "form__textarea";