/* ====================================
Radio module for the Form--Login
==================================== */

.form__robot-radio {
  margin-bottom: 35px;
}

.form__robot-title {
  font-family: 'robotobold', Arial, san-serif;
  margin: 10px;
}

.radio {

  &__label{
    padding-right: 20px;
    margin-left: 10px;

    &:before {
      border-radius: 10px;
    }
  }

  &__input {
    display: none;

    &:checked + .radio__label:before {
      content: '\2022';
      color: $btn;
      font-size: 35px;
      display: inline;
      text-align: center;
      line-height: 20px;
    }

    &:checked + .radio__label {
      color: $btn;
      font-family: 'robotomedium', Arial, san-serif;
    }
  }
}
