include ../../mixins/_user

header.header
  section.header__musthead
   .grid-1-spaceBetween
     .col-2
      include ../social/_social--header
     +svg("hamburger")
  section.header__body
   .grid-1-center
      +svg("portfolio_header")
      .col-12
        +profile("general")
  .arrow__down
    .grid-12-center
      +svg("portf_arrow_down")