include ../../mixins/_user

header.header
  section.header__musthead
    .container
      .header__musthead--flex
        include ../social/_social--header
        +svg("hamburger")
  section.header__body
    .container
      .row
        .col-12
          +svg("portfolio_header")
          .col-4.col--centered
            +profile("general")
            .col-1.col--centered
              .arrow__down
                +svg("portf_arrow_down")
  //section.header__triangles
  //  .container
  //    .row
  //      .col-6
  //        .angle-arrow.angle-arrow--right
  //      .col-6
  //        .angle-arrow.angle-arrow--left