include ../../mixins/_svg

header.header__main
.header-general
  .container
    include ../social/_social--header
    +svg("hamburger")
.header
  .container
    .row
      .col-12
        +svg("portfolio_header")
        .col-4.col--centered
          include ../_user.pug
          .col-1.col--centered
            .arrow__down
              +svg("portf_arrow_down")
  .container
    +svg("bg")
    .row
      .col-4.col--centered
        .header__intro
          article.header__title
            h1.header__title-intro My pride
          .scaling-svg-container
            +svg("works_header")
