/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$leaf-first-name: 'leaf_first';
$leaf-first-x: 0px;
$leaf-first-y: 111px;
$leaf-first-offset-x: 0px;
$leaf-first-offset-y: -111px;
$leaf-first-width: 58px;
$leaf-first-height: 108px;
$leaf-first-total-width: 141px;
$leaf-first-total-height: 359px;
$leaf-first-image: 'leaves.png';
$leaf-first: (0px, 111px, 0px, -111px, 58px, 108px, 141px, 359px, 'leaves.png', 'leaf_first', );
$leaf-snd-name: 'leaf_snd';
$leaf-snd-x: 0px;
$leaf-snd-y: 0px;
$leaf-snd-offset-x: 0px;
$leaf-snd-offset-y: 0px;
$leaf-snd-width: 99px;
$leaf-snd-height: 91px;
$leaf-snd-total-width: 141px;
$leaf-snd-total-height: 359px;
$leaf-snd-image: 'leaves.png';
$leaf-snd: (0px, 0px, 0px, 0px, 99px, 91px, 141px, 359px, 'leaves.png', 'leaf_snd', );
$leaf-trd-name: 'leaf_trd';
$leaf-trd-x: 0px;
$leaf-trd-y: 239px;
$leaf-trd-offset-x: 0px;
$leaf-trd-offset-y: -239px;
$leaf-trd-width: 141px;
$leaf-trd-height: 120px;
$leaf-trd-total-width: 141px;
$leaf-trd-total-height: 359px;
$leaf-trd-image: 'leaves.png';
$leaf-trd: (0px, 239px, 0px, -239px, 141px, 120px, 141px, 359px, 'leaves.png', 'leaf_trd', );
$spritesheet-width: 141px;
$spritesheet-height: 359px;
$spritesheet-image: 'leaves.png';
$spritesheet-sprites: ($leaf-first, $leaf-snd, $leaf-trd, );
$spritesheet: (141px, 359px, 'leaves.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
