/* ====================================
Navigation
==================================== */

.overlay {

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -50%;
    height: 100%;
    width: 50%;
    background: rgba($btn,.87);
    //transform: translateX(0);
  }

  //&:before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  top: 0;
  //  left: -50%;
  //  height: 100%;
  //  width: 50%;
  //  background: rgba($btn,.87);
  //  transition: left 0.6s ease-in;
  //  //transform: translateX(0);
  //}
}

.overlay--isactive {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &:after {
    right: 0;
  }

  //&:before {
  //  left: 0;
  //}
}

.menu__list {
  padding: 0;
  padding-top: 50%;
  margin: 0;
}

.menu__item {
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  margin-bottom: 7rem;
  //transform: translateY(-100%);
}

.menu__link {
  position: relative;
  color: $white;
  text-transform: uppercase;
  font-family: 'sansus_webissimoregular', sans-serif;
  text-decoration: none;
  opacity: 1;
  display: block;
  transition: all 444s linear;
  text-align: center;
  font-size: 6.3rem;
}

.menu__link:after {
  content: '';
  width: 40%;
  height: 3px;
  background-color: $white;
  position: absolute;
  bottom: 0;
  left: 30%;
  opacity: 0;
  transition: all .2s;
}

.menu__link:hover:after {
  transform: translateY(2rem);
  opacity: 1;
}