/* ====================================
Navigation
==================================== */


//Overlay appearance
.overlay {
  position: fixed;
  visibility: hidden;
  height: 100%;
  width: 100%;
  top: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -50%;
    height: 100%;
    width: 50%;
    background: rgba($btn,.87);
    transition: right 0s;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 50%;
    background: rgba($btn,.87);
    transition: left 0s;
  }
}

.overlay--isactive {
  z-index: 1000;
  visibility: visible;
  &:after {
    right: 0;
    transition: right 0.4s cubic-bezier(.76,.39,.61,.77);
  }

  &:before {
    left: 0;
    transition: left 0.4s cubic-bezier(.76,.39,.61,.77);
  }

}


//The menu link behaviour
.menu__list {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  z-index: 3000;
}
.menu__list--open {
  visibility: visible;
  opacity: 1;
}

.menu__item {
  opacity: 0;
  list-style: none;
  height: 100%;
  margin-bottom: 7rem;
  transition: opacity 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.menu__item--animate-in {
  opacity: 1;
}

.menu__link {
  position: relative;
  color: $white;
  text-transform: uppercase;
  font-family: 'sansus_webissimoregular', sans-serif;
  text-decoration: none;
  opacity: 1;
  display: block;
  transition: all 444s linear;
  text-align: center;
  font-size: 6.3rem;
}

.menu__link:after {
  content: '';
  width: 40%;
  height: 3px;
  background-color: $white;
  position: absolute;
  bottom: 0;
  left: 30%;
  opacity: 0;
  transition: all .2s;
}

.menu__link:hover:after {
  transform: translateY(2rem);
  opacity: 1;
}