//Quote flexbox
.quotes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 20px;

  background: linear-gradient(to bottom, $lightwhite 0%, $white 100%);

  .quotes__body {
    display: flex;
    flex-flow: column wrap;
  }
}

.quotes {
  &__photobox {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__photo {
    border-radius: 45px;
    width: 80px;
    height: 80px;
  }
}

//Quote
.quote {
  font-family: "robotoitalic", Arial, sans-serif;
  padding-top: 10px;

  &:after, &:before {
    content: "";
    display: none;
  }

  &__mark {
    position: absolute;
    top: 70px;
    left: 10px;
  }
}

//Author and Job title
.quotes {

  &__info {
    align-self: center;
  }

  &__author {
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: "robotobold_italic", Arial, sans-serif;
    color: $btn;

  }

  &__jobtitle {
    margin: 0;
    color: $headlines;
    font-family: "robotoitalic", Arial, sans-serif;
  }
}