/*User main profile module with Photo and Name*/
.profile {
  position: relative;
  margin-bottom: 20px;
  text-align: center;

  &__userpic {
    margin: 0 auto;
    width: 140px;
    height: 140px;

    margin-bottom: 20px;
  }

  &__photo {
    position: absolute;
    width: 140px;
    height: 140px;

    display: block;
    float: none;

    border-radius: 50%;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__name {
    margin: 0;
    color: $white;
  }

  &__own {
    color: $white;
    margin: 0;
  }
}
.forms {
  &.profile__name {
    font-size: 2.6rem
  }

  &.profile__own {
    color: $fontgrey;
  }
}