//User pic and short description
.profile {
  position: relative;
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center;

  &__userpic {
    margin: 0 auto;
    width: 140px;
    height: 140px;

    margin-bottom: 20px;
  }

  &__photo {
    position: absolute;
    width: 140px;
    height: 140px;

    display: block;
    float: none;

    border-radius: 50%;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__name {
    margin: 0 0 10px 0;
    color: $white;
  }

  &__own {
    color: $fontgrey;
    margin: 0;
  }
}

