.social
  ul.list__social
    li.list__social-item
      a.list__social-link.list__social-link--vk(href="https://vk.com/v_aselin_e")
        +svg("vk", "svg--social")
    li.list__social-item
      a.list__social-link.list__social-link--git(href="https://github.com/IvanRadchenko")
        +svg("github","svg--social")
    li.list__social-item
      a.list__social-link.list__social-link--linkedin(href="https://www.linkedin.com/in/ivan-radchenko-26620590")
        +svg("in", "svg--social")