/* ====================================
Skills Section
==================================== */

.skills {
  color: $darkgrey;
  width: 100%;
  @include bp(47.8rem) {
    text-align: center;
  }
}

.skills__box {
  padding-top: 50px;
}


.skills__list {
  list-style: none;
  margin: 0 0 34px 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row wrap;
  @include bp(47.8rem) {
    justify-content: center;
  }
}

.skills__item {
  font-size: 1.6rem;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin-right: 3.6rem;
  margin-bottom: 2rem;

  @include bp(47.8rem) {
    margin-right: 1.8rem;
    margin-left: 1.8rem;
  }

  @include bp(xs) {
    width: 11rem;
    height: 11rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }
}


.skills-graph{
  display:block;
  transform:rotate(-90deg);

  &__full,&__part {
    fill: transparent;
    stroke: #dfdcd5;
    stroke-width: 6.4;
  }

  &__full {
    stroke-dasharray: none;
  }

  &__part {
    stroke:#78a165;
  }
}

.skills__item:after {
  content: attr(data-name);
  display: block;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 17%;
  right: 17%;
  text-align: center;
  font-size: 1.4rem;
  color: #4e8839;
}

.skills__text {
  @include bp(47.8rem) {
    width: 80%;
    margin: auto;
  }

  @include bp(xs) {
  width: 100%;
  margin: 0;
  }
}