@import "map";
@import "aboutme-contacts";
@import "aboutme-profile";

.about_wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.about__right {
    padding-left: 30px;
}

.about__body {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $portfoliolight;
    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: $portabouthead;
    z-index: -1;
  }
}