@import "map";
@import "aboutme-contacts";
@import "aboutme-profile";

.about_wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.about__left,.about__right {
  @media (min-width: 32.1rem) and (max-width: 47.8rem) {
    flex-basis: 100%!important;
    max-width: 100%!important;
  }
}

.about__left {
  background-color: $portfoliolight;
}

.about__right {
  padding-left: 30px;
  background-color: $portabouthead;
  @include bp(47.8rem) {
    padding-left: 0;
    padding-top: 50px;
  }
}

.about__body {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $portfoliolight;
    z-index: -1;

  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: $portabouthead;
    z-index: -1;

  }
}