@import "map";
@import "aboutme-contacts";

.about {
  width: 445px;
  padding-bottom: 20px;
  color: $darkgrey;

  &__left {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: -20px;
    margin-left: -20px;
    height: 100%;
    background-color: $portfoliolight;
  }

  &__right {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 30px;
    height: 100%;
    background-color: $portabouthead;
  }
}

//Img pic - need good quality
.img__profile {
  height: 390px;
  width: 440px;
  margin-bottom: 20px;
  overflow: hidden;

  & img {
    width: 100%;
  }
}


