.social
  ul.social__list
    li.social__item
      a.social__link.social__link--login(href="https://vk.com/v_aselin_e")
        +svg("vk", "svg--social")
    li.social__item
      a.social__link.social__link--login(href="https://github.com/IvanRadchenko")
        +svg("github","svg--social")
    li.social__item
      a.social__link.social__link--login(href="https://www.linkedin.com/in/ivan-radchenko-26620590")
        +svg("in", "svg--social")