.quotes__wrapper
  .quotes
    .grid-1-center-noGutter
      .quotes__main
        .quotes__body
          .quotes__photobox
            img.quotes__photo(src="../assets/img/login/Vanya.jpg")
          q.quote
            | This code will overcome any issues. Please, do not load this website
            | on two acient browsers
            img.quote__mark(src="../assets/img/quote.png")
          .quotes__info
            p.quotes__author Kovalchuk Dmitryi
            p.quotes__jobtitle - Founder of LoftSchool
        .quotes__body
          .quotes__photobox
            img.quotes__photo(src="../assets/img/login/Vanya.jpg")
          q.quote
            | This code will overcome any issues. Please, do not load this website
            | on two acient browsers
            img.quote__mark(src="../assets/img/quote.png")
          .quotes__info
            p.quotes__author Zar Zacharov
            p.quotes__jobtitle - Teacher and developer