.portfolio__wrapper
  section.portfolio__main
    .grid-1-noGutter
      .col-6_md-12
        .portfolio__names
          h2.portfolio__names-title ONLINE EDUCATION <br> SCHOOL
          p.portfolio__names-skills HTML, CSS, JAVASCRIPT
          a.portfolio__names-button(href="#") LEARN MORE
      include _portfolio-slider