.col-6
  .portfolio__works
    .portfolio__preview
      img.portfolio__work-1(src="/assets/img/portfolio_first.png")
    .portfolio__list
      .portfolio__item.portfolio__item--left
        img.portfolio__work-2(src="/assets/img/portfolio_first.png")
        .portfolio__arrow
          +svg("portf_arrow_down")
      .portfolio__item.portfolio__item--right
        img.portfolio__work-3(src="/assets/img/portfolio_first.png")
        .portfolio__arrow
          +svg("portf_arrow_up")