include ../../mixins/_svg
include ../../mixins/_inputs

section.auth__section
  .container
    .row
      .col-4.col--centered
        .forms#login
          form.form__body(action="/login" method="post")
           include ../forms/_form__auth
           include ../forms/_form__robot
          footer.form__footer
            a.form__footer-btn.form__footer-btn--link.form__footer-btn--left(href="/portfolio.html") Main page
            input.form__footer-btn.form__footer-btn--submit.form__footer-btn--right(type="submit" name="submit" value="Login")
      .col-4.col--centered
        .forms#welcome
          form.form__body(action="/login" method="post")
            include ../_user
            include ../social/_social--login
          footer.form__footer
            a.form__footer-btn.form__footer-btn--link.form__footer-btn--big(href="/portfolio.html") My shame
            a.form__footer-btn.form__footer-btn--link.form__footer-btn--middle(href="/index.html") About me
            a.form__footer-btn.form__footer-btn--link.form__footer-btn--small(href="/index.html") Blog