.form__robot
  .form__robot-checkbox
    +checkbox("human", "checkbox", "I am a human", "I am not Mr. Robot","check")
  .form__robot-radio
    p.form__robot-title Are you sure you are not Mr. Robot?
    +radio("robot", "approved" , "Yes", "Yes" )
    +radio("robot", "robot" , "No", "Not sure" )