- var log = "log_in";
- var pass = "pass";
.form__intro
  .form__intro-row
    h1 AUTHORIZATION
  .form__intro-row
    +input("text", "logged", "Login", "log_in")
  .form__intro-row
    +input("password", "password", "Password", "pass")