include ../../mixins/_svg
include ../../mixins/_inputs
include ../../mixins/_user

section.auth__section
    .grid-center-column
      .col-4
        .forms#login
          form.form__body(action="/login" method="post")
           include ../forms/_form__auth
           include ../forms/_form__robot
          footer.form__footer
            a.form__footer-btn.form__footer-btn--link(href="/portfolio.html") Main page
            button.form__footer-btn.form__footer-btn--submit(type="submit" name="submit" value="Login") Login
      .col-4
        .forms#welcome
          form.form__body(action="/login" method="post")
            +profile("general")
            include ../social/_social--login
          footer.form__footer
            a.form__footer-btn.form__footer-btn--link.form__footer-btn--big(href="/portfolio.html") My pride
            a.form__footer-btn.form__footer-btn--link.form__footer-btn--middle(href="/portfolio.html") About me
            a.form__footer-btn.form__footer-btn--link.form__footer-btn--small(href="/blog.html") Blog