.form__social
  ul.list__social
    li.list__item
      a.list__link.list__link--vk(href="https://vk.com/v_aselin_e")
        +svg("vk", "svg--social")
    li.list__item
      a.list__link.list__link--git(href="https://github.com/IvanRadchenko")
        +svg("github","svg--social")
    li.list__item
      a.list__link.list__link--linkedin(href="https://www.linkedin.com/in/ivan-radchenko-26620590")
        +svg("in", "svg--social")