//Intro module for the Login form
.form__auth
  .form__auth-row.form__auth-row--title
    h1 AUTHORIZATION
  .form__auth-row
    //input mixins
    +input("text", "logged", "Login", "log_in")
  .form__auth-row
    +input("password", "password", "Password", "pass")