//Form colors:
$login: #f0efe9;
$checkbox: #6c9c5a;
$darlform:rgba(#122620, .6);
$headlines: #373e42;

//Main backgrounds:
$lightwhite: #f8f9f5;
$inputbackground: #f0efe9;
$portfoliolight: #ebefe2;
$blogback: #faf8f0;

//SVG headers
$worksheader: rgba(147, 196, 46, 0.1);
$portfolioheader: rgba(255,255,255,.12);


//Works colors:
$greenworks: #e1e4d7;
$portleft: rgba(#c3c8bf,.5);
$portright: rgba(175,179,171,.5);
$portabouthead: #f4f5f0;

//Skill color:
$noskill: #dfdcd5;

//Font colors
$fontgrey: #c4cbcd;
$darkgrey: #566358;
$white: #ffffff;
$fontmaingrey: #455a64;

//Login button colors
$btn: #6c9c5a;
$btnrgba: rgba(#6c9c5a,.5);
$btnhover: #4e8839;
$btnborder: rgba(0,0,0,.5);
$btnheader: #729e19;

//Main Footer colors:
$footerbot: rgba(#6c9c5a, .85);
$footertop: rgba(#373e42, .85);
$copyright: rgba(#6c9c5a,.85);

//Border colors
$bgborder: #ecebe4;