//Form colors:
$login: #f0efe9;
$checkbox: #6c9c5a;
$darlform:rgba(#122620, .6);

//Main backgrounds:
$backcolor: #f8f9f5;
$inputbackground: #f0efe9;
$lightgreen: #ebefe2;

//Works colors:
$greenworks: #e1e4d7;
$slider: #f1ede1;

//Skill color:
$noskill: #dfdcd5;

//Font colors
$fontgrey: #c4cbcd;
$white: #ffffff;
$fontmain: #455a64;

//Login button colors
$btn: #6c9c5a;
$btnrgba: rgba(#6c9c5a,.5);
$btnhover: #4e8839;
$btnborder: rgba(0,0,0,.5);
$btnheader: #729e19;

//Main Footer colors:
$footerbot: rgba(#6c9c5a, .85);
$footertop: rgba(#373e42, .85);