- navigation = [{item: "Home",link: "index.html"},{item: "Portfolio",link: "portfolio.html"},{item: "Blog",link: "blog.html"},{item: "Authorization",link: "login.html"}]
mixin nav(navItems, cls)
  nav(class=cls)
      ul(class=cls + "__list")
          each navItem in navItems
            li(class=cls + "__item")
              - linkcls = cls + "__link"
               a(href=navItem.link class=linkcls)= navItem.item