mixin skill(name)
  li.skills__item(data-name=name)
    svg.skills-graph(stroke-dasharray="66 100" viewBox="0 0 38.2 38.2")
      circle(class="skills-graph__full" r="15.91" cx="19.1" cy="19.1")
      circle(class="skills-graph__part" r="15.91" cx="19.1" cy="19.1")