//Main Fonts
@font-face {
    font-family: 'fontawesomeregular';
    src: url('//base/fontawesome-webfont.woff2') format('woff2'), url('//base/fontawesome-webfont.woff') format('woff'), url('//base/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('//base/roboto-bold-webfont.woff2') format('woff2'), url('//base/roboto-bold-webfont.woff') format('woff'), url('//base/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('//base/roboto-bolditalic-webfont.woff2') format('woff2'), url('//base/roboto-bolditalic-webfont.woff') format('woff'), url('//base/roboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('//base/roboto-italic-webfont.woff2') format('woff2'), url('//base/roboto-italic-webfont.woff') format('woff'), url('//base/roboto-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('//base/roboto-light-webfont.woff2') format('woff2'), url('//base/roboto-light-webfont.woff') format('woff'), url('//base/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('//base/roboto-lightitalic-webfont.woff2') format('woff2'), url('//base/roboto-lightitalic-webfont.woff') format('woff'), url('//base/roboto-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('//base/roboto-medium-webfont.woff2') format('woff2'), url('//base/roboto-medium-webfont.woff') format('woff'), url('//base/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('//base/roboto-mediumitalic-webfont.woff2') format('woff2'), url('//base/roboto-mediumitalic-webfont.woff') format('woff'), url('//base/roboto-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('//base/roboto-regular-webfont.woff2') format('woff2'), url('//base/roboto-regular-webfont.woff') format('woff'), url('//base/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansus_webissimoregular';
    src: url('//base/sansus-webissimo-regular-webfont.woff2') format('woff2'), url('//base/sansus-webissimo-regular-webfont.woff') format('woff'), url('//base/sansus-webissimo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
