/* ------- Layout common ------- */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
	position: relative;
  margin: 0 auto;
  font: 1.6rem/1.5 'robotoregular', Arial, san-serif;
}

html, body {
  height: 100%;
}

*,*:before, *:after {
  box-sizing: inherit;
}

h1 {
  font: 6.3rem 'sansus_webissimoregular', Arial, san-serif;
}

h2 {
  font: 3.5rem 'robotomedium', Arial, san-serif;
}

h3 {
  font: $darkgrey 2.8rem 'robotomedium', Arial, sans-serif;
}
p, h1, h2 , h3 {
  margin-top: 0;
}