//Form colors:
$checkbox: #6c9c5a;
$login: #f0efe9;
$darlform:rgba(#122620, .6);

//Main backgrounds:
$backcolor: #f8f9f5;
$lightgreen: #ebefe2;

//Works colors:
$greenworks: #e1e4d7;
$slider: #f1ede1;

//Skill color:
$noskill: #dfdcd5;

//Font colors
$fontgrey: #373e42;
$white: #ffffff;
$fontmain: #455a64;

//Login button colors
$btn_not_active: #6d975f;
$btnhover: #538643;

//Footer colors:
$footerbot: rgba(#6c9c5a, .85);
$footertop: rgba(#373e42, .85);