section.col-6_md-6_xs-12.grid-top-noGutter.about__left
  .col-5_md-12
    .headlines.headlines--about
      h1.headlines__title.headlines__title--about About me
      +svg("about_header","svg__about_header--aboutprofile")
  .col-7_md-8_sm-10_xs-12.about_profile
    .img__profile
      img(src="../assets/img/login/Vanya.jpg")
    aside.about__description.about__description-profile
      h2.headlines__title.headlines__title--profile Who am I
      p.about__text.
        Front-end Developer and graduate of
        Moscow Energetic University with Science Bachelor Degree. I combines my education with 3 years commercial
        experience in SEO management and UX front-end development to produce high-quality websites and exceptional
        user experience.