section.col-6_md-6_xs-12.about__right
  h2.headlines__title.headlines__title--about Skills and your profit
  aside.skills
    p.skills__text.
      I am fond of working working on Front-End but I do also able to join the backend teams
      solve possible issues.
    section.skills__box
      h3.skills__title Frontend
      ul.skills__list
        +skill("HTML")
        +skill("HTML")
        +skill("HTML")
        +skill("HTML")
      h3.skills__title Backend
      ul.skills__list
        +skill("HTML")
        +skill("HTML")
        +skill("HTML")
      h3.skills__title WorkFlow
      ul.skills__list
        +skill("HTML")
        +skill("HTML")
        +skill("HTML")
        +skill("HTML")