//About me contacts form
.contacts
  h2.contacts__title Contacts
  .contacts__wrapper
    ul.contacts__list
      li.contacts__item
        p.contacts__content ivan_zacharov
          +svg("skype")
      li.contacts__item
        p.contacts__content radchenk@gmail.com
          +svg("envelope")
      li.contacts__item
        p.contacts__content +7 952 354 32 73
          +svg("phone")
      li.contacts__item
        p.contacts__content St Petersburg
          +svg("map_marker")