//Quote flexbox
.quotes {
  padding-top: 30px;

  background: linear-gradient(to bottom, rgba(244,245,240,1) 0%, rgba(244,245,240,1) 70%,
    rgba(244,245,240,0));

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include bp(810px) {
      flex-flow: column;
      align-items: center;
    }
  }
}

.quotes__body {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  margin: 0 0 20px 10px;
  width: 35%;

  @include bp(810px) {
    width: 65%;
  }
}

.quotes {
  &__photobox {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__photo {
    border-radius: 45px;
    width: 80px;
    height: 80px;
  }
}

//Quote
.quote {
  position: relative;
  align-self: center;
  font-family: "robotoitalic", Arial, sans-serif;
  padding-top: 10px;
  margin-bottom: 20px;
  width: 100%;

  &:after, &:before {
    content: "";
    display: none;
  }

  &__mark {
    position: absolute;
    top: -20px;
    left: 0;
  }
}

//Author and Job title
.quotes {

  &__info {
    align-self: center;
  }

  &__author {
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: "robotobold_italic", Arial, sans-serif;
    color: $btn;

  }

  &__jobtitle {
    margin: 0;
    color: $headlines;
    font-family: "robotoitalic", Arial, sans-serif;
  }
}