//Portfolio body Section

.portfolio__main {
  height: 750px;
  max-width: 1800px;
  margin: 0 auto;
}

.portfolio__names {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 750px;

  text-align: center;;
  background-color: $portfoliolight;

  &-title {
    color: $darkgrey;
    margin-bottom: 20px;

    &:after {
      content:"";
      border-bottom:3px solid black;
      width:20%;
      display:block;
      padding-top: 25px;
      margin:0 auto;
    }
  }

  &-skills {
    margin-bottom: 40px;
    font-family: "robotomedium", Arial, san-serif;
    color: $btn;
  }

  &-button {
    display: inline-block;
    width: 200px;
    height:45px;
    padding: 10px;
    background-color: $btn;
    border-radius: 25px;
    color: $white;
    text-decoration: none;

    &:before {
      background: url("../img/sprite/link.svg") no-repeat scroll center center;
      content: "";
      display: inline-block;
      fill: $white;
      width: 30px;
      height: 30px;
      position: relative;
      top: -2px;
      left: -15px;
      vertical-align: middle;
    }
  }
}

//Portfolio Work Examples section

.portfolio__works {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 750px;
  padding-top: 50px;
  background-color: $greenworks;
}

.portfolio__preview {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;


  & img {
    width: 70%;
    height: 100%;

    @include bp(md) {
      //width: 450px;
      //height: 320px;
    }
  }
}

.portfolio__list {
  height: 225px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.portfolio__item {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  & img {
    width: 75%;
  }

  &--left:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 30%;
    background-color: $portleft;
  }

  &--right:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 30%;
    background-color: $portleft;
  }
}