//Portfolio about me section

.portfolio__aboutme {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  background: url("../img/1200_forest_works.png") no-repeat bottom;
  background-size: cover;
}

.contactme {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

//.form__body--blured {
//  filter:blur(2px);
//}