extends ../_template

include ../mixins/_svg
include ../mixins/_inputs
block content
    include ../common/header/_header--blog
    main.blog__body
      .container
        .row
          .col-3
            ul.blog__list
              li.blog__item
                a.blog__link.blog__link--active Most important in SASS
              li.blog__item
                a.blog__link Приемы в верстке, без которых не обходится ни один сайт
              li.blog__item
                a.blog__link The best Gulp build ever
              li.blog__item
                a.blog__link Why have I chosen Pug
          .col-8
            section.blogpost_section
              article.blogpost
                h2.blogpost__title Most important in SASS
                p.blogpost__date 22 ноября 2016
                p.
                  Таким образом начало повседневной работы по формированию позиции позволяет
                  выполнять важные задания по разработке направлений прогрессивного развития.
                  Разнообразный и богатый опыт новая модель организационной деятельности играет
                  важную роль в формировании новых предложений. Товарищи! новая модель
                  организационной деятельности играет важную роль в формировании систем массового
                  участия.
                p.
                  Не следует, однако забывать, что укрепление и развитие структуры
                  обеспечивает широкому кругу (специалистов) участие в формировании систем массового
                  участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров
                  обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых
                  участниками в отношении поставленных задач. Товарищи! постоянный количественный рост
                  и сфера нашей активности способствует подготовки и реализации модели развития. С другой
                  стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации
                  системы обучения кадров, соответствует насущным потребностям.
              article.blogpost
                h2.blogpost__title Приемы в верстке, без которых не обходится ни один сайт
                p.blogpost__date 22 ноября 2016
                p.
                  Таким образом начало повседневной работы по формированию позиции позволяет
                  выполнять важные задания по разработке направлений прогрессивного развития.
                  Разнообразный и богатый опыт новая модель организационной деятельности играет
                  важную роль в формировании новых предложений. Товарищи! новая модель
                  организационной деятельности играет важную роль в формировании систем массового
                  участия.
                p.
                  Не следует, однако забывать, что укрепление и развитие структуры
                  обеспечивает широкому кругу (специалистов) участие в формировании систем массового
                  участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров
                  обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых
                  участниками в отношении поставленных задач. Товарищи! постоянный количественный рост
                  и сфера нашей активности способствует подготовки и реализации модели развития. С другой
                  стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации
                  системы обучения кадров, соответствует насущным потребностям.
    include  ../common/footer/_footer--general