extends ../_template

include ../mixins/_svg
block content
  include ../common/header/_header--general
  section.aboutme__body
    .container
      .row
        .col-6
          .headlines.headlines--about
            h1.headlines__title.headlines__title--about About me
            +svg("about_header")
          section.about
            .img__profile
              img(src="../assets/img/login/Vanya.jpg")
            h1.who Who am I
            p.about__text
        .col-6
          section.skills
            h2.skills_title My skills
            p.skills__text
            section.skills__box
  section.map__section
    .map__section-map#map
    .contacts
      h2.contacts__title Contacts
      .contacts__wrapper
        ul.contacts__list
          li.contacts__item
            p.contacts__content ivan_zacharov
              +svg("skype")
          li.contacts__item
            p.contacts__content radchenk@gmail.com
              +svg("envelope")
          li.contacts__item
            p.contacts__content +7 952 354 32 73
              +svg("phone")
          li.contacts__item
            p.contacts__content St Petersburg
              +svg("map_marker")
    include ../common/footer/_footer--general
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxRe3o4BgMUHxDenPDRrGo9es-bFDbTmE&callback=initMap")