extends ../_template
include ../mixins/_skill
include ../mixins/_svg
block content
  .header--difcolors
    include ../common/header/_header--general
  main.about__body
    .about_wrapper
      .grid
        include ../common/aboutme/_aboutme-profile
        include ../common/aboutme/_aboutme-skills
  section.map__section
    .map__section-map#map
    include ../common/aboutme/_aboutme-contacts
    include ../common/footer/_footer--general
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxRe3o4BgMUHxDenPDRrGo9es-bFDbTmE&callback=initMap")