extends ../_template

include ../mixins/_svg
block content
  .header--difcolors
    include ../common/header/_header--general
  main.aboutme__body
    .container
      .row
        .col-6
          section.about__left
            .headlines.headlines--about
              h1.headlines__title.headlines__title--about About me
              +svg("about_header")
            aside.about
              .img__profile
                img(src="../assets/img/login/Vanya.jpg")
              h2.headlines__title.headlines__title--about Who am I
              p.about__text.
                Front-end Developer and graduate of
                Moscow Energetic University with Science Bachelor Degree. I combines my education with 3 years commercial
                experience in SEO management and UX front-end development to produce high-quality websites and exceptional
                user experience.
        .col-6
          section.about__right
            h2.headlines__title.headlines__title--about Skills and your profit
            aside.skills
              p.skills__text.
                  I am fond of working working on Front-End but I do also able to join the backend teams
                  solve possible issues.
              section.skills__box
                .col-6
                  h3.skills__title Frontend
                  ul.skills__list
                    li.skills__item
                      .skills__circle
                        .skills__circle-bg
                          svg.skills__circle-progress
                            //path(data-percent="77" d="m55,10c24.86188,0 45,20.13812 45,45c0,24.86188 -20.13812,45 -45,45c-24.86188,0 -45,-20.13812 -45,-45c0,-24.86188 20.13812,-45 45,-45z" style="stroke-dasharray: 282.799px; stroke-dashoffset: 65.0437px; opacity: 0.77;)
                .col-6
                  h3.skills__title Backend
                .col-6
                  h3.skills__title WorkFlow

  section.map__section
    .map__section-map#map
    include ../common/aboutme/_aboutme-contacts
    include ../common/footer/_footer--general
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxRe3o4BgMUHxDenPDRrGo9es-bFDbTmE&callback=initMap")