extends ../_template--login
block content
  .grid-center-noGutter.login__wrapper
    include ../common/header/_header--login
    .col-12
      include ../common/forms/_form
    .col-12
      include ../common/footer/_footer--login