extends ../_template

include ../mixins/_svg
include ../mixins/_inputs

block content
  include ../common/header/_header--general
  section.headline.headline--portintro
    .grid-1-center-noGutter
      .col-6
        .headlines.headlines--portintro
          h1.headlines__title.headlines__title--portintro My pride
          +svg("works_header")
  include ../common/portfolio/_portfolio-works
  section.headline.headline--aboutme
    .grid-1-center
      .col-6
        .headlines.headlines--aboutme
          h1.headlines__title.headlines__title--aboutme Customer <br> satisfaction
          +svg("about_header")
  section.portfolio__aboutme
    .grid-1-center-noGutter
      .col-12
        include ../common/portfolio/_portfolio-quotes
        include ../common/portfolio/_portfolio-contactme
    .grid-1-center
      .col-2
        aside.arrow__up
          +svg("portf_arrow_up")
    include ../common/footer/_footer--general