//@include bp(..) {...}
@mixin bp($point) {

  $phone: "(max-width: 32rem)";
  $small: "(max-width: 76.9rem)";
  $medium: "(max-width: 120rem)";
  $large: "(max-width: 180rem)";

  @if $point == lg {
    @media #{$large} {
      @content;
    }
  } @else if $point == md {
    @media #{$medium} {
      @content;
    }
  } @else if $point == sm {
    @media #{$small}  {
      @content;
    }
  } @else if $point == xs {
    @media #{$phone}  {
      @content;
    }
  } @else {
    @media ("max-width: #{$point}") {
      @content
    }
  }
}