//General Footer styles

.footer--general {  //Cascade for SVG social color
  z-index: 2;

  .social svg {
    fill: $fontgrey;
  }

  &:hover {
    fill: $white;
  }
}

.footer__body {
  display: flex;
  padding: 30px 15px 0 10px;
  background-color: $footertop;
  font-family: "robotolight", Arial, san-serif;
  color: $fontgrey;
  @extend %clearfix;
}

.footer__middle {

  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 85px;
    width: 1px;
    border-right: 1px solid $fontgrey;
  }
  &:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    height: 85px;
    width: 1px;
    border-left: 1px solid $fontgrey ;  }

  & .social {
    justify-content: flex-start;

    &__link {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}

.footer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 0;
}

.footer__item {
  list-style: none;
  display: inline-block;
}

.footer__link {
  display: block;
  text-decoration: none;
  font-family: "robotomedium", Arial, san-serif;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}
.footer__quote {
  color: rgba($white, .5);
}

.footer__quote-text {
  font-family: "robotoitalic", Arial, san-serif;
}

.footer__quote-author {
    font-family: "robotomedium_italic", Arial, san-serif;
}

.footer__copyright--general {
  background-color: $copyright;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  color: $white;

  & p {
    margin: 0;
  }
}