footer.footer--general
  .container
    .row
      .footer__body
        .col-4
          p This this my masterpiece blog, created under the psycho control of LoftSchool
        .col-4
          .footer__middle
            nav.footer__nav
              ul.footer__list
                li.footer__item
                  a.footer__link(href="/portfolio.html") My works
                li.footer__item
                  a.footer__link(href="/index.html") About me
                li.footer__item
                  a.footer__link(href="/blog.html") Blog
                li.footer__item
                  a.footer__link(href="/login.html") Authorization
              include ../social/_social--header
        .col-4
          .footer__quote
            p.footer__quote-text Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live
            p.footer__quote-author - Martin Golding
    .row
      .footer__copyright--general
        p @ Ivan Radchenko | Love and Hate creation as part of LoftSchool | 2016