footer.footer--general
  .container
    .row
      .footer__body
        .col-4
          p This this my masterpiece blog, created under the psycho control of LoftSchool
        .col-4
          .footer__middle
            nav.footer__nav
              ul.footer__list
                li.footer__item
                  a.footer__link(href="#") My works
                li.footer__item
                  a.footer__link(href="#") About me
                li.footer__item
                  a.footer__link(href="#") Blog
                li.footer__item
                  a.footer__link(href="#") Authorization
              include ../social/_social--header
        .col-4
          p Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live
          p - Martin Golding
    .row
      .footer__copyright--general
        p @ Ivan Radchenko | Love and Hate creation as part of LoftSchool | 2016